{% extends "CallMeWebBundle::layout.html.twig" %}

{% block content %}
    <div class="col-md-4 col-md-offset-4">
        <form action="{{ path('process_reset_password') }}" method="post">
            <input type="hidden" name="token" value="{{ token }}" />
            <input type="hidden" name="hashedEmail" id="hashedEmail" value="{{ hashedEmail }}" />

            {% for flashMessage in app.session.flashbag.get('password') %}
                <div class="flash-notice">
                    {{ flashMessage }}
                </div>
            {% endfor %}

            <div class="form-group">
                <label for="password">New Password</label>
                <input class="form-control" type="password" name="password" id="password" value="" />
            </div>

            <div class="form-group">
                <label for="confirm_password">Confirm New Password</label>
                <input class="form-control" type="password" name="confirm_password" id="confirm_password" value="" />
            </div>

            <div>
                <button type="submit" class="btn btn-info">Submit</button>
            </div>
        </form>
    </div>
{%  endblock %}