{% extends "CallMeWebBundle::layout.html.twig" %}

{% block content %}
    <div class="row">
        <form>
            <label>name</label>
            <input type="hidden" name="id" value="">
            <input id="name" type="text" name="name" value="">
            <input type="submit" value="Save">

            <div>

            </div>
        </form>
    </div>

    <div class="col-md-4 pull-left">
        <h3>Phone Call List</h3>
         <ul class="receiver">
             <li></li>
         </ul>
    </div>

    <div class="col-md-4 pull-right">
        {% if audio %}
                <ul class="audio-drag">
                {% for audioRow in audio %}
                    <li data-id="{{ audioRow.id }}">{{ audioRow.name }}</li>
                {% endfor %}
                </ul>
        {% else %}
            <p class="text-center"> No mp3 files yet</p>
        {% endif %}
    </div>
{% endblock %}

{% block javascript %}
    <script>
        require(['jquery', 'jqueryui'], function($) {
            $(document).ready(function() {
                $('.audio-drag').sortable({
                    stop: function(event, ui) {
                        var nextItem = ui.item.next();
                        var clonedItem = $(ui.item).clone(true).removeClass('box ui-draggable ui-draggable-dragging ');
                        if (nextItem) {
                           nextItem.before(clonedItem)
                        } else {
                            clonedItem.appendTo('.receiver');
                        }
                        $(this).sortable('cancel');
                    },
                    connectWith: '.receiver'
                });
                $('.receiver').sortable().droppable({
                    out: function(event, ui) {
                        if (ui.draggable.parent().hasClass('receiver')) {
                            ui.draggable.mouseup(function() {
                               $(this).remove();
                            });
                        }
                    }
                });
            });
        });
    </script>
{% endblock %}