body {
    margin-top: 50px;
}

.business-header {
    height: 400px;
    background: url(http://placehold.it/1920x400) center center no-repeat;
    background-size: cover;
}

.tagline {
    color: #fff;
    text-shadow: 0 0 10px #000;
}

footer {
    margin: 50px 0;
}

.img-marketing {
    width: 300px;
    height: 300px;
}

div.robotic {
    display:none;
}

div.layout {
    padding-top: 50px;
}
